@CHARSET "ISO-8859-1";
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background-color: #eaeaea !important;
}

table th{
	background-color: #d73925;
	color:#FFF;
	/*border:1px solid #e3e3e3;
	padding: 4px 30px 4px 8px;
	height: 50px;
	vertical-align: middle;*/
}

/*table td{
	text-align:center;
	border:1px solid #e3e3e3;
	padding:4px 8px;
	vertical-align: middle;
}*/
table tr:nth-child(odd) td{
	background-color:#ea5252;
}
table tr:nth-child(even) td{
	background-color:#989898;
}
table {
	//border:1px solid #e3e3e3;
	border-collapse: collapse;
}
td, th {
	text-align: center;
	vertical-align: middle !important;
}
th.subtopic {
	background-color: #fafafa;
	color: black;
}
th {
	border:1px solid #e3e3e3;
}
input[type:"checkbox"].form-control, input[type:"radio"].form-control{
	background-color: rgba(0,0,0,0);
}
.btn {
	width: 15%;
}
/*input[type:"radio"]{
	vertical-align: middle;
	margin: 0px;
}*/