#header {
	background-color: #40B1ED;
	height: 60px
}

.maindiv {
	border: 1px solid #000;
	background: #FAFAFA;
	width: 960px;
	height: 1000px;
	position: absolute;
	top: 20px;
	left: 350px;
	overflow: auto
}

.menu {
	background-color: #fff;
	width: 220px;
	height: 350px;
	padding: 15px;
	border: 1px solid #000;
	border-radius: 4px;
	position: absolute;
	top: 70px;
	left: 10px;
	box-shadow: 0 0 5px #000
}

.menu img {
	float: left;
	padding-left: 10px
}

#your {
	padding: 10px;
	width: 400px;
	height: 120px;
	position: absolute;
	top: 10px;
	left: 50px;
	border: 1px dashed #fff
}

#your:hover {
	background-color: #FBF0FC;
	border: 1px dashed #000;
	cursor: pointer
}

#InputsWrapper {
	position: absolute;
	top: 150px;
	left: 40px
}

#your1 {
	padding: 10px;
	width: 500px;
	height: 120px;
	position: absolute;
	top: 10px;
	left: 50px;
	border: 1px dashed #000
}

#titleid {
	font-size: 20px
}

#inputhead {
	font-size: 30px;
	border-radius: 2px;
	box-shadow: 0 0 5px #40B1ED;
	border: 1px solid #40B1ED;
	width: 450px
}

#doneid {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #fff;
	background-color: #40B1ED;
	border-radius: 2px;
	border: 2px solid #40B1ED
}

#namebutton {
	border: 4px solid #9AB7F5;
	width: 200px;
	height: 50px;
	background: #E4E7F0 url(../images/tab-bg.png) repeat-x;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 2px
}

#namebutton:hover {
	border: 4px solid #9680ED;
	border-radius: 2px;
	cursor: pointer
}

#emailbutton {
	border: 4px solid #9AB7F5;
	width: 200px;
	height: 50px;
	background: #efefef url(../images/tab-bg.png) repeat-x;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 2px
}

#emailbutton:hover {
	border: 4px solid #9680ED;
	border-radius: 2px;
	cursor: pointer
}

#addressbutton {
	border: 4px solid #9AB7F5;
	width: 200px;
	height: 50px;
	background: #efefef url(../images/tab-bg.png) repeat-x;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 2px
}

#addressbutton:hover {
	border: 4px solid #9680ED;
	border-radius: 2px;
	cursor: pointer
}

#checkboxbutton {
	border: 4px solid #9AB7F5;
	width: 200px;
	height: 50px;
	background: #efefef url(../images/tab-bg.png) repeat-x;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 2px
}

#checkboxbutton:hover {
	border: 4px solid #9680ED;
	border-radius: 2px;
	cursor: pointer
}

#radioaddbutton {
	border: 4px solid #9AB7F5;
	width: 200px;
	height: 50px;
	background: #efefef url(../images/tab-bg.png) repeat-x;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 2px
}

#radioaddbutton:hover {
	border: 4px solid #9680ED;
	border-radius: 2px;
	cursor: pointer
}

#reset {
	border: 4px solid #9AB7F5;
	width: 200px;
	height: 50px;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 2px
}

.InputsWrapper1 {
	background-color: #fff;
	width: 650px;
	height: 900px;
	border: 1px solid #000;
	position: absolute;
	top: 70px;
	right: 10px;
	border-radius: 4px;
	overflow: auto;
	box-shadow: 0 0 5px #000
}

div.name {
	background: #E1F3FC;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: 10px;
	width: 300px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid blue;
	padding: 5px;
	cursor: move
}

.name input, .email input {
	padding: 5px
}

div.email {
	background: #E1F3FC;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: 10px;
	width: 300px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid blue;
	padding: 5px;
	cursor: move
}

div.address {
	position: relative;
	background: #E1F3FC;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: 10px;
	width: 320px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid blue;
	padding: 5px;
	cursor: move
}

.address textarea {
	padding-left: 5px
}

div.address label {
	position: absolute
}

div.address p {
	position: absolute;
	right: 10px;
	top: -10px
}

.checkbox_child {
	background: #E1F3FC;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 10px;
	width: 170px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid blue;
	padding: 5px;
	cursor: move
}

.radiobutton_child {
	background: #E1F3FC;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 10px;
	width: 140px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid blue;
	padding: 5px;
	cursor: move
}