li.dropdown.notifications-menu > a.dropdown-toggle{
  height: 50px;
  padding-top: 18px;
}
.content-wrapper{
	background-color: #f2f2f2!important;
}
.panel-danger .panel-heading{
	color:white;
	background-color: #dd4b39;
}
.panel-danger{
	border-color: black;
}
button.btn-form{
	width: 90%;
	min-width: 220px;
}
th{
	text-align: center;
}
td, th {
	vertical-align: middle !important;
}