@CHARSET "ISO-8859-1";
table,th ,td {
    border-collapse: collapse;
    border: 1px solid black;
    color: #FFF;
    font-family: sans-serif;
}
th{
	background: #ff0000;
}
tr:nth-child(even) {
	background: #ff8080;
}
tr:nth-child(odd) {
	background: #c0c0c0;
}