.add {
	float: right;
	margin-right: 2px;
}

#objectives_list {
	max-height: 95px;
	width: 90%;
	overflow-y: auto;
}

#objective_div {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
	overflow-y: auto;
	height: 120px;
}

#objective>li {
	padding: 5px;
}

.node {
	padding: 4px 3px 4px 3px;
	background-color: #b3b3b3;
	color: #f2f2f2;
	border-radius: 3px;
	display: flex;
	max-width: 100%;
	height: 50px;
	margin-left: 1px;
}

.o_content {
	max-width: 97%;
	word-wrap: break-word;
}

#edit_form>div {
	margin-top: 5px;
}

#outline_content {
	resize: none;
	width: 100%;
	height: 95px;
	word-wrap: break-word;
	overflow-y: auto;
	border: none;
}

.bttn {
	border: 1px solid #367fa9;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.details {
	margin-top: 7px;
}

.info_sections {
	width: 340px;
}

#fail {
	background-color: #ff8b8e;
	color: #ff0000;
	border-radius: 4px;
	padding: 5px;
	display: none;
}

#success {
	background-color: #cbffc0;
	color: #008000;
	border-radius: 4px;
	padding: 5px;
	display: none;
}

#edit_outline {
	font-size: 1.1em;
	padding: 2px 4px 3px 4px;
	margin-right: 2%;
	padding: 2px 4px 3px 4px;
}